.example-h2 .example-h3 {
    margin: 10px;
}

.example-section {
    align-content: center;
    align-items: center;
    display: flex;
}

.card {
    display: flex;
    width: 100%;
}

mat-card {
    height: 62vh;
}

.example-margin {
    margin: 0 10px;
}

table {
    width: 100%;
}
