.example-h2 {
    margin: 10px;
}

.example-section {
    align-content: center;
    align-items: center;
    display: inline-block;
}

mat-card {
    width: 95%;
    height: 220px;
}

.spacer {
    width: 20px;
}

.example-margin {
    margin: 0 10px;
}